<div class="card">
    <div class="card-body">
        <h1 style="color: black;">Sobre la aplicación</h1>
        <p style="color: black;">Esta es una aplicacion de notas. Puede crear una cuenta y agregar notas que le permitan una optima organización.</p>
    </div>
</div>