<div class="jumbotron-mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Esta una app de prueba con nodejs y monodb</p>
    <hr class="my-4">
    <p>Para mas proyectos visite el repositorio de GitHub.</p>
    <a href="http://github.com/nicocampos" target="_blank" class="btn btn-primary btn-lg">GitHub</a>
</div>